@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
body {
  width: 100%;
  background: #939393;
  font-weight: normal;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #283645;
}
main {
  background: #fff;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  main {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  main {
    width: 1200px;
  }
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.page-header {
  width: 320px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 700px) {
  .page-header {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
}
.page-header:after {
  content: '';
  display: table;
  clear: both;
}
.page-header__top {
  position: absolute;
  width: 100%;
  min-height: 65px;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.page-header__top:after {
  content: '';
  display: table;
  clear: both;
}
.page-header__top--bg-change {
  background-color: #283645;
  background-image: none;
}
.page-header__logo {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
@media (min-width: 700px) {
  .page-header__top {
    min-height: 110px;
  }
  .page-header__logo {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 320px;
    margin: 0 auto;
  }
  .page-header__logo {
    float: left;
    width: 160px;
    margin-left: 125px;
  }
}
@media (min-width: 1200px) and (min-width: 700px) {
  .page-header {
    width: 700px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
}
.main-nav__items {
  margin-top: 70px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.main-nav__items--hidden {
  display: none;
}
.main-nav__item a {
  display: block;
  text-decoration: none;
  padding: 20px 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #283645;
  border-top: 1px solid black;
  box-shadow: 0 1px 0 #495361 inset;
}
.main-nav__toogle {
  position: absolute;
  width: 50px;
  height: 24px;
  background-image: url('../img/icon-menu-burger.svg');
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.main-nav__toogle--opened {
  background-image: url('../img/icon-menu-cross.svg');
  background-repeat: no-repeat;
  background-position: 100% 0;
}
@media (min-width: 700px) {
  .main-nav__toogle {
    right: 40px;
    top: 40px;
  }
}
@media (min-width: 1200px) {
  .main-nav__toogle {
    display: none;
  }
  .main-nav__items {
    display: inline-block;
    margin-left: 165px;
    font-size: 0;
    width: 620px;
    margin-top: 0;
  }
  .main-nav__item {
    display: inline-block;
    margin-right: 75px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__item a {
    margin-top: 45px;
    padding: 0;
    border: none;
    font-size: 18px;
    line-height: 18px;
    background-color: transparent;
    box-shadow: none;
    text-transform: capitalize;
  }
}
.downloads {
  width: 320px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  bottom: 0;
  height: 730px;
  background-color: #1d2631;
  background: url('../img/iphone-hand-mobile.png') no-repeat 0% 42%, url('../img/bg-back-mobile.jpg') 50% 0%;
}
@media (min-width: 700px) {
  .downloads {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .downloads {
    width: 1200px;
  }
}
.downloads__wrapper {
  width: 320px;
  position: absolute;
  clear: both;
  color: #fff;
  bottom: 0;
  background-color: #1d2631;
}
.downloads__slogan {
  display: none;
}
.downloads__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #d2d3d4;
  padding: 0 45px;
}
.downloads__btn {
  display: block;
  width: 280px;
  margin: auto;
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  border: 3px solid white;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
}
.downloads__platforms {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}
.downloads__platform {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.downloads__platform--android {
  margin-right: 20px;
  margin-left: 20px;
  background: url('../img/logo-android.svg') no-repeat 0 50%;
}
.downloads__platform--ios {
  background: url('../img/logo-apple.svg') no-repeat;
}
.downloads__platform--windows {
  background: url('../img/logo-microsoft.svg') no-repeat 0 50%;
}
.downloads__text {
  text-align: center;
}
@media (min-width: 700px) {
  .downloads {
    background: url('../img/iphone-hand-mobile.png') no-repeat 60% 100%, url('../img/bg-back-mobile.jpg') 50% 0%;
    height: 850px;
  }
  .downloads__wrapper {
    bottom: 80px;
    background-color: transparent;
  }
  .downloads__btn {
    padding: 15px 0;
    box-sizing: border-box;
  }
  .downloads__slogan {
    display: block;
    margin-top: 0;
    padding: 0px 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
  }
  .downloads__text {
    padding: 0 20px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .downloads__wrapper {
    left: 125px;
  }
  .downloads__slogan {
    margin-bottom: 60px;
    font-size: 50px;
  }
  .downloads__btn {
    width: 305px;
    font-size: 21px;
    line-height: 18px;
  }
  .downloads__platforms {
    margin-top: 65px;
    margin-bottom: 60px;
  }
}
.promo-text {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1px;
  color: #283645;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  background: #fff;
}
@media (min-width: 700px) {
  .promo-text {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .promo-text {
    width: 1200px;
  }
}
.promo-text p:last-child {
  margin-bottom: 0;
}
@media (min-width: 700px) {
  .promo-text {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
  }
  .promo-text p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .promo-text p:last-child {
    padding: 0 10%;
  }
}
@media (min-width: 1200px) {
  .promo-text {
    font-size: 50px;
  }
  .promo-text p:last-child {
    padding: 0 30%;
  }
}
.features {
  width: 320px;
  margin: 0 auto;
  background: #f2f2f2 url('../img/iphone-screen-mobile.png') no-repeat 50% 100%;
}
@media (min-width: 700px) {
  .features {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .features {
    width: 1200px;
  }
}
.features__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}
.features__effect {
  display: none;
}
.features__text {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.features__items {
  box-sizing: border-box;
  height: 780px;
  padding-top: 30px;
  text-align: center;
}
@media (min-width: 700px) {
  .features {
    width: 700px;
    background: #f2f2f2 url('../img/iphone-screen-mobile.png') no-repeat 10% 20%;
  }
  .features:after {
    content: '';
    display: table;
    clear: both;
  }
  .features__effect {
    display: block;
    padding-top: 100px;
    padding-bottom: 90px;
    background-color: #fff;
  }
  .features__effect-wrapper {
    margin-left: 50%;
  }
  .features__text {
    margin-left: 0;
  }
  .features__items {
    width: 50%;
    height: 485px;
    text-align: left;
    margin-left: 50%;
  }
  .features__effect-title {
    width: 47%;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }
  .features__effect-text {
    width: 85%;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }
  .features__effect-link a {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }
}
@media (min-width: 1200px) {
  .features {
    width: 1200px;
    background-image: none;
  }
  .features__items {
    width: 320px;
    margin: 0 auto;
    display: inline-block;
    height: auto;
    padding-top: 0;
    text-align: center;
  }
  .features__item {
    display: inline-block;
    padding-top: 350px;
    margin-top: 0;
    width: 25%;
    vertical-align: top;
  }
  .features__text {
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    line-height: 30px;
  }
  .features__title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }
  .features__effect-wrapper {
    margin-left: 42%;
  }
  .features__effect {
    background: #F2F2F2;
  }
  .features__effect-text {
    font-size: 18px;
    line-height: 30px;
  }
  .features__effect-link a {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) and (min-width: 700px) {
  .features__items {
    width: 700px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .features__items {
    width: 1200px;
  }
}
.reviewes {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background: #fff;
}
.reviewes__user-info {
  display: none;
}
.reviewes__user-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.reviewes__user-comment {
  text-align: center;
  margin: 0 6%;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin-bottom: 30px;
}
@media (min-width: 700px) {
  .reviewes {
    width: 700px;
  }
  .reviewes__user-info {
    display: block;
    margin-top: 0;
    order: 2;
    font-size: 14px;
    line-height: 30px;
  }
  .reviewes__user-name {
    order: 1;
    margin-bottom: 0;
  }
  .reviewes__user-comment {
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .reviewes {
    width: 1200px;
    padding-top: 180px;
  }
  .reviewes__user-name {
    font-size: 24px;
    line-height: 30px;
  }
  .reviewes__user-info {
    font-size: 18px;
    line-height: 30px;
  }
  .reviewes__user-comment {
    width: 60%;
    align-self: center;
  }
}
.switcher {
  order: 3;
}
.prices {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #f2f2f2;
}
@media (min-width: 700px) {
  .prices {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .prices {
    width: 1200px;
  }
}
.prices__title {
  padding: 20px 0;
  background-color: #283645;
  color: #fff;
  border: 2px solid #e5e5e5;
  border-bottom: none;
  text-transform: uppercase;
}
.prices__list {
  border-collapse: collapse;
  border-spacing: 0;
  width: 840px;
  box-sizing: border-box;
  margin-left: -81%;
}
.prices__tariff-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  display: block;
}
.prices__feature {
  padding: 20px 0;
  padding-left: 20px;
  background: #fff;
  border: 2px solid #e5e5e5;
  border-top: none;
  text-align: left;
}
.prices__feature--for-desktop,
.prices__title--for-desktop {
  display: none;
}
.prices__feature--hidden {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.prices__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
@media (min-width: 700px) {
  .prices__title--for-desktop {
    display: table-cell;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e5e5e5;
  }
  .prices__feature--hidden {
    opacity: 0;
  }
  .prices__feature--for-desktop {
    display: table-cell;
  }
  .prices__list {
    width: 625px;
    margin: 0 auto;
  }
  .prices__list + .switcher {
    display: none;
  }
  .prices__cost {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .prices__list {
    width: 950px;
  }
  .prices__feature--for-desktop {
    font-size: 18px;
    line-height: 30px;
  }
}
.on-map {
  height: 200px;
  background-color: #e0dcd5;
}
iframe {
  width: 100%;
  height: 100%;
}
@media (min-width: 700px) {
  .on-map {
    height: 380px;
  }
}
@media (min-width: 1200px) {
  .on-map {
    height: 510px;
  }
}
.page-text {
  width: 320px;
  margin: 0 auto;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 50px;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
@media (min-width: 700px) {
  .page-text {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .page-text {
    width: 1200px;
  }
}
@media (min-width: 700px) {
  .page-text {
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .page-text {
    padding-top: 100px;
    padding-bottom: 90px;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
}
@media (min-width: 700px) {
  .page-footer {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
  }
}
.page-footer__logo {
  padding-top: 60px;
  text-align: center;
}
.page-footer__text {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.page-footer__contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.page-footer__item-text {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
.page-footer__item-contact a {
  text-decoration: none;
  color: #d22856;
}
.page-footer__item-contact {
  margin-top: 0;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}
.page-footer__copyright {
  position: relative;
}
.page-footer__copyright-text {
  display: inline-block;
  margin-bottom: 55px;
  padding-left: 95px;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}
.page-footer__copyright-link {
  position: absolute;
  right: 95px;
  top: -30px;
  width: 26px;
  height: 33px;
  margin-top: 40px;
  background: url(../img/logo-htmlacademy.svg) no-repeat;
}
@media (min-width: 700px) {
  .page-footer {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 40px;
  }
  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    box-sizing: border-box;
    background-color: #fff;
  }
  .page-footer__logo {
    padding-left: 35px;
    padding-top: 0px;
    padding-bottom: 35px;
  }
  .page-footer__contacts {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .page-footer__item {
    width: 50%;
  }
  .page-footer__text {
    font-size: 40px;
    width: 60%;
    margin: 0 auto;
  }
  .page-footer__copyright-text {
    padding-left: 0;
    padding-right: 80px;
  }
  .page-footer__copyright-link {
    left: 95px;
    top: -30px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding-top: 0;
  }
  .page-footer__item {
    width: 24%;
  }
  .page-footer__item:nth-child(2) {
    order: 1;
  }
  .page-footer__text {
    width: 40%;
  }
  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    min-height: 195px;
  }
  .page-footer__logo {
    padding-left: 125px;
    padding-top: 70px;
    padding-bottom: 35px;
  }
  .page-footer__copyright-text {
    margin-top: 85px;
    padding-right: 0px;
    font-size: 18px;
  }
  .page-footer__copyright-link {
    left: 120px;
    top: 40px;
  }
  .page-footer__copyright {
    padding-right: 170px;
  }
}
.main-page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
}
@media (min-width: 700px) {
  .main-page-footer {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .main-page-footer {
    width: 1200px;
  }
}
.main-page-footer__logo,
.main-page-footer__social,
.main-page-footer__copyright {
  display: none;
}
.main-page-footer__text {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.main-page-footer__contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main-page-footer__item-text {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
.main-page-footer__item-contact a {
  text-decoration: none;
  color: #d22856;
}
.main-page-footer__item-contact {
  margin-top: 0;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}
@media (min-width: 700px) {
  .main-page-footer__logo,
  .main-page-footer__social,
  .main-page-footer__copyright {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 33.3%;
    min-height: 125px;
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: #fff;
  }
  .main-page-footer__social {
    padding-bottom: 0;
  }
  .main-page-footer__copyright {
    position: relative;
  }
  .main-page-footer__logo {
    padding-left: 35px;
    padding-bottom: 35px;
  }
  .main-page-footer__copyright-text {
    padding-left: 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #283645;
  }
  .main-page-footer__copyright-link {
    position: absolute;
    left: 127px;
    top: 10px;
    width: 26px;
    height: 33px;
    margin-top: 40px;
    background: url(../img/logo-htmlacademy.svg) no-repeat;
  }
  /*.main-page-footer__copyright-link:after {
    position: absolute;

  }*/
  .main-page-footer__contacts {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-page-footer__item {
    width: 50%;
  }
  .main-page-footer__text {
    font-size: 40px;
    width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-page-footer__item {
    width: 24%;
  }
  .main-page-footer__item:nth-child(2) {
    order: 1;
  }
  .main-page-footer__text {
    width: 40%;
  }
  .main-page-footer__copyright {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-page-footer__logo,
  .main-page-footer__social,
  .main-page-footer__copyright {
    min-height: 200px;
  }
  .main-page-footer__logo {
    padding-left: 135px;
    padding-top: 70px;
    padding-bottom: 35px;
  }
  .main-page-footer__social {
    padding-top: 0  ;
  }
  .main-page-footer__copyright-text {
    margin-top: 85px;
    font-size: 18px;
  }
  .main-page-footer__copyright-link {
    left: 205px;
    top: 40px;
  }
  .main-page-footer__copyright {
    padding-left: 50px;
  }
}
.page-title {
  width: 320px;
  margin: 0 auto;
  background: url('../img/bg-back-mobile.jpg') 50% 0%;
  margin-top: 0px;
  padding-top: 100px;
}
@media (min-width: 700px) {
  .page-title {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .page-title {
    width: 1200px;
  }
}
.page-title h1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 60px;
}
@media (min-width: 700px) {
  .page-title {
    height: 340px;
  }
}
@media (min-width: 1200px) {
  .page-title {
    height: 290px;
  }
}
.main-form {
  width: 320px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .main-form {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .main-form {
    width: 1200px;
  }
}
.main-form__title {
  width: 75%;
  align-self: center;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}
.main-form__title--for-tablet {
  display: none;
}
.main-form__user-info-label {
  margin-left: 12%;
  margin-top: 25px;
  text-transform: uppercase;
  color: #d22856;
  font-size: 14px;
  font-weight: 30px;
  background: #fff;
}
.main-form__user-info-input {
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  padding: 20px;
  border: none;
  border: 2px solid #e5e5e5;
}
.main-form__user-info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.main-form__user-info-wrapper {
  display: flex;
  flex-direction: column;
}
.main-form__achievements {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-top: 35px;
  background-color: #f2f2f2;
}
.main-form__achievements-label {
  position: relative;
  margin-left: 90px;
  padding-bottom: 65px;
}
.main-form__achievements-label:before {
  content: '';
  display: block;
  position: absolute;
  left: -55px;
  top: -10px;
  border: 2px solid #e5e5e5;
  width: 35px;
  height: 35px;
  background: #fff;
}
.main-form__achievements .main-form__title,
.main-form__user-apps .main-form__title {
  margin-bottom: 45px;
}
.main-form__achievements-checkbox {
  display: none;
}
.main-form__user-contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  background: #fff;
}
.main-form__user-contacts-label {
  display: block;
  margin-left: 14%;
  margin-bottom: 15px;
  padding-top: 22px;
  text-transform: uppercase;
  color: #d22856;
  font-size: 14px;
  font-weight: 30px;
}
.main-form__user-contacts-input {
  flex-grow: 1;
  padding: 20px;
  margin: 0 5%;
  border: 2px solid #e5e5e5;
}
.main-form__user-apps {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  background: #F2F2F2;
}
.main-form__user-apps-label {
  position: relative;
  margin-left: 90px;
  padding-bottom: 65px;
}
.main-form__user-apps-label:before {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  left: -70px;
  top: -10px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background: #fff;
}
.main-form__user-apps-radio {
  display: none;
}
.main-form__user-comment {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding-top: 55px;
}
.main-form__user-comment-label {
  margin-bottom: 20px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
}
.main-form__textarea {
  min-height: 200px;
  margin: 0 5%;
  padding-top: 20px;
  resize: none;
  border: none;
  outline: 2px solid #e5e5e5;
  text-align: center;
}
.main-form__send {
  width: 90%;
  margin-top: 45px;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #2aab6d;
  color: #fff;
  text-transform: uppercase;
}
.main-form__note {
  margin-top: 40px;
  text-transform: uppercase;
}
.main-form__note--hidden {
  display: none;
}
.main-form__note sup {
  color: #d22856;
}
.main-form__send-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-form__user-contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 700px) {
  .main-form__user-info {
    order: 1;
  }
  .main-form__user-info-wrapper {
    flex-direction: row;
    -ms-grid-row-align: center;
        align-items: center;
    margin-bottom: 40px;
  }
  .main-form__user-info-label {
    margin-left: 40px;
  }
  .main-form__user-info-input {
    flex-grow: 1;
  }
  .main-form__user-contacts-wrapper {
    flex-direction: column-reverse;
  }
  .main-form__user-contacts-wrapper:first-child {
    order: 2;
  }
  .main-form__user-contacts-wrapper:first-child input {
    margin-top: 45px;
  }
  .main-form__user-apps-label {
    margin-bottom: 65px;
    margin-left: 115px;
    padding-bottom: 0;
  }
  .main-form__user-apps-label:before {
    left: -55px;
  }
  .main-form__user-contacts {
    order: 3;
    flex-direction: column-reverse;
    position: relative;
    width: 620px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 10px;
    outline: 2px solid #F2F2F2;
    background: #fff;
  }
  .main-form__user-contacts-input {
    box-sizing: border-box;
    width: 500px;
    align-self: center;
  }
  .main-form__send {
    width: 49%;
    margin: 0;
  }
  .main-form__note {
    margin: 0;
  }
  .main-form__user-apps {
    order: 2;
    position: relative;
    width: 620px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 45px;
    outline: 2px solid #F2F2F2;
    background: #fff;
  }
  .main-form__user-apps .main-form__title,
  .main-form__achievements .main-form__title {
    position: absolute;
    top: -25px;
    left: 125px;
    background: #fff;
    width: 58%;
  }
  .main-form__achievements .main-form__title {
    width: 70%;
    left: 90px;
  }
  .main-form__title--for-tablet {
    display: block;
    position: absolute;
    top: -25px;
    left: 190px;
    background: #fff;
    width: 40%;
  }
  .main-form__achievements {
    position: relative;
    order: 4;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-top: 60px;
    outline: 2px solid #F2F2F2;
    background: #fff;
  }
  .main-form__achievements-label {
    margin-left: 115px;
  }
  .main-form__textarea {
    display: block;
    width: 500px;
    min-height: 190px;
    margin: 0 auto;
  }
  .main-form__user-comment {
    order: 5;
    position: relative;
    width: 620px;
    margin: 0 auto;
    padding-bottom: 50px;
    outline: 2px solid #F2F2F2;
  }
  .main-form__user-comment-label {
    position: absolute;
    width: 40%;
    top: -10px;
    left: 175px;
    background: #fff;
  }
  .main-form__send-wrapper {
    order: 6;
    flex-direction: row;
    width: 620px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 40px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main-form__title--for-tablet {
    width: 27%;
    left: 342px;
  }
  .main-form__user-apps {
    width: 37%;
    margin-right: 11%;
  }
  .main-form__user-comment {
    flex-direction: row;
    width: 78%;
  }
  .main-form__user-comment-label {
    width: 25%;
    left: 325px;
  }
  .main-form__user-apps .main-form__title {
    position: absolute;
    width: 80%;
    left: 50px;
    top: -25px;
    background: #fff;
  }
  .main-form__user-info {
    width: 37%;
    margin-left: 11%;
  }
  .main-form__user-info-input {
    margin-right: 0;
  }
  .main-form__user-info-label {
    margin-left: 0;
  }
  .main-form__user-info-wrapper:last-child {
    margin-bottom: 0;
  }
  .main-form__user-contacts {
    width: 78%;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-form__user-contacts-input {
    width: 375px;
    margin-top: 45px;
  }
  .main-form__user-contacts-label {
    margin-left: 4%;
  }
  .main-form__user-contacts-wrapper:first-child {
    order: 0;
    margin-left: 70px;
  }
  .main-form__user-contacts-wrapper:last-child {
    margin-right: 70px;
  }
  .main-form__achievements {
    width: 78%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-form__achievements .main-form__title {
    width: 45%;
    left: 250px;
  }
  .main-form__achievements-label {
    width: 20%;
  }
  .main-form__achievements-label:nth-child(3) {
    order: 2;
  }
  .main-form__achievements-label:nth-child(5) {
    order: 5;
  }
  .main-form__achievements-label:last-child {
    order: 6;
  }
  .main-form__user-apps-label {
    margin-bottom: 50px;
  }
  .main-form__textarea {
    flex-grow: 1;
    box-sizing: border-box;
    min-height: 125px;
    padding-left: 20px;
    margin: 0 6%;
    text-align: left;
  }
  .main-form__send {
    width: 32%;
  }
  .main-form__send-wrapper {
    width: 78%;
  }
  .main-form__note {
    width: 34%;
  }
  .main-form__note--hidden {
    display: inline;
  }
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.social-link {
  border: 3px solid #e9ebec;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 15px;
}
.social-link--tw {
  margin-left: 0;
  background: url(../img/icon-twitter.svg) no-repeat 50% 50%;
}
.social-link--fb {
  background: url(../img/icon-facebook.svg) no-repeat 50% 50%;
}
.social-link--yb {
  background: url(../img/icon-youtube.svg) no-repeat 50% 50%;
}
@media (min-width: 700px) {
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .social-link {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .social-links {
    min-height: 195px;
  }
}
.successfully-popup--hidden {
  display: none;
}
.failure-popup--hidden {
  display: none;
}
.post {
  margin: 0 auto;
  margin-top: 20px;
}
.post--icon {
  margin-top: 55px;
}
.post__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 25px;
  background: #f2f2f2;
}
.post__panorama-photo {
  width: 100%;
  height: 137px;
}
.post__panorama-photo img,
.post__photo img {
  width: 100%;
  height: 100%;
}
.post__photo {
  width: 280px;
  height: 180px;
  margin: 0 auto;
}
.post__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #283645;
}
.post__date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.post__like {
  padding-top: 20px;
  padding-bottom: 25px;
}
.post__like a {
  text-decoration: none;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .post {
    margin: 0;
    margin-top: 20px;
    /*max-height: 455px;*/
  }
  .post:nth-child(n+3) {
    height: 455px;
  }
  .post:nth-child(2n+2) {
    margin-left: 40px;
  }
  .post:nth-child(2n+3) {
    margin-right: 40px;
  }
  .post__panorama-photo {
    height: 510px;
  }
  .post--icon {
    margin-top: 0px;
    width: 100%;
  }
  .post__content {
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 155px;
    margin: 0;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .post__text {
    width: 100%;
    min-height: 40px;
  }
  .post__photo {
    width: 300px;
    height: 300px;
  }
  .post__panorama-photo + .post__content {
    width: 620px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .post__like {
    padding: 0;
    align-self: flex-end;
  }
  .post__like--panorama {
    position: relative;
    right: -460px;
    top: -75px;
  }
  .post__content {
    min-height: 150px;
  }
}
@media (min-width: 1200px) {
  .posts-wrapper .post {
    margin: 0;
  }
  .post:nth-child(n+3) {
    width: 300px;
    height: 550px;
  }
  .post:nth-child(2) {
    margin-bottom: 50px;
  }
  .post:nth-child(3n+2) {
    margin-left: 130px;
  }
  .post:nth-child(3n+3) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .post__photo {
    width: 300px;
    height: 400px;
  }
  .post__photo img {
    width: 100%;
    height: 100%;
  }
  .post__content {
    position: relative;
    height: 95px;
  }
  .post__like--panorama {
    position: absolute;
    right: 60px;
    top: 32px;
  }
  .post__panorama-photo + .post__content {
    width: 940px;
    min-height: 95px;
    margin-bottom: 50px;
  }
}
.photo-editor {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
@media (min-width: 700px) {
  .photo-editor {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .photo-editor {
    width: 1200px;
  }
}
.photo-editor__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-editor__image {
  width: 280px;
  margin: 0 auto;
}
.photo-editor__tool {
  width: 50px;
  height: 50px;
  margin: 20px;
}
.photo-editor__tool--crop {
  background: url(../img/icon-editor-crop.svg) no-repeat 50% 50%;
}
.photo-editor__tool--fill {
  align-self: center;
  margin-top: -91px;
  background: url(../img/icon-editor-fill.svg) no-repeat 50% 50%;
}
.photo-editor__tool--contrast {
  align-self: flex-end;
  margin-top: -91px;
  background: url(../img/icon-editor-contrast.svg) no-repeat 50% 50%;
}
.photo-editor__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.photo-editor__btn {
  width: 280px;
  padding: 15px 0;
  border-radius: 50px;
  border: 3px solid #d22856;
  background-color: transparent;
  color: #d22856;
  font-weight: bold;
}
.photo-editor__tuning {
  display: none;
}
.photo-editor__tuning--active {
  display: block;
}
.photo-editor__btn--disabled {
  margin-top: 15px;
  margin-bottom: 40px;
  border-color: #dddfe0;
  color: #dddfe0;
}
.photo-editor__tools-wrapper {
  width: 280px;
}
.photo-editor__tool-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.photo-editor__tool-wrapper:nth-child(2) {
  align-self: center;
}
@media (min-width: 700px) {
  .photo-editor__form {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
    height: 510px;
    padding-top: 55px;
    padding-left: 40px;
  }
  .photo-editor__image {
    width: 300px;
    height: 400px;
    outline: 1px solid green;
  }
  .photo-editor__tool {
    width: 30px;
    height: 30px;
  }
  .photo-editor__tool--fill,
  .photo-editor__tool--contrast {
    margin-top: 0;
  }
  .photo-editor__tuning {
    display: block;
    width: 70%;
  }
  .photo-editor__tools-wrapper {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .photo-editor__tool-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-right: 40px;
    margin-left: 35px;
    border-bottom: 1px solid #dddfe0;
  }
  .photo-editor__btns {
    width: 50%;
    padding-top: 65px;
  }
  .photo-editor__btn {
    width: 80%;
  }
  .photo-editor__btn--disabled {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .photo-editor {
    margin-left: 130px;
    margin-right: 130px;
  }
  .photo-editor__btns {
    flex-direction: row;
    -ms-grid-row-align: flex-end;
        align-items: flex-end;
    margin-right: 55px;
  }
  .photo-editor__btn {
    width: 42%;
  }
  .photo-editor__btn--disabled {
    margin: 0;
  }
  .photo-editor__form {
    padding-top: 60px;
    padding-left: 80px;
  }
  .photo-editor__tool {
    width: 50px;
    height: 50px;
  }
  .photo-editor__tool-wrapper {
    margin-right: 0;
  }
}
.posts-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 700px) {
  .posts-wrapper {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .posts-wrapper {
    justify-content: flex-start;
  }
}
